@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');


:root {}

html {
    font-size: 62.5%;
}

* {

    box-sizing: border-box;
}

body {
    background-color: #17162E;
}

main {

    margin: auto;
    width: 75%;
    text-align: center;

}

h1 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: clamp(2rem, 3vw, 3.5rem);
    color: #fff;

}

.input-container {
    background-color: rgba(255, 255, 255, 0.2);
    width: 50%;
    margin: 0 auto;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

}

.naoExibeBarraPesquisa{
    display: none;
}

.campoPesquisa {
    padding: 1rem;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #FFF;
}

.input-container img {
    cursor: pointer;
}

.campoPesquisa::placeholder {
    color: #8A8A8A;
    font-size: clamp(0.8rem, 1.5vw, 3rem);

}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.favoritarFilme {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    color: #fff;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: clamp(0.8rem, 1.5vw, 3rem);
}


.hidden{
    margin: auto;
    width: 50%;
    color: #fff;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: clamp(0.8rem, 1.5vw, 3rem);
}




.card {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    background-color: #1D1C3B;
    border-radius: 0.8rem;
    padding: 1rem 3rem;
    margin-block: 2rem;
}

figure {
    margin: 0;
}

figure img {
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
    object-fit: cover;
}

.infosFilme {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    width: 30%;
}

.nomeFilme {
    width: 100%;
    margin: 0;
    font-size: 1.8rem;
    font-family: 'Kumbh Sans', sans-serif;

}

.favoritar p,
.classificacao p {
    font-size: 1.3rem;
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;


}


.classificacao,
.favoritar {
    padding-top: 2em;
    width: 50%;
}

.favoritar img {
    cursor: pointer;
}

.resumoFilme {
    text-align: justify;
    line-height: 3rem;
    color: #ACACAC;
    width: 80%;
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1.8rem;
}


@media (max-width: 1000px) {
    .card {
        display: grid;
        gap: 2rem;
        min-width: 45rem;
        grid-template-columns: 1fr 3fr;
        padding: 1rem 1rem;
    }

    figure {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    figure img {
        border-radius: 0;
        height: 100%;
        width: auto;
    }

    .nomeFilme {
        font-size: clamp(2rem, 1.5vw, 4rem);

    }

    .resumoFilme {
        grid-column: 2;
        width: 100%;
        line-height: 2.5rem;
        font-size: clamp(1rem, 1.8vw, 2rem)
    }

    .infosFilme {
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
    }

    .classificacao,
    .favoritar {
        padding-top: 0;
    }
}


@media (max-width: 700px) {
    .card {
        grid-template-columns: 1fr 1fr;
        min-width: 30.5rem;
    }

    figure {
        grid-column: 1;
        grid-row: 1 / 2;
    }

    figure img {
        border-radius: 50%;
        width: 14rem;
        height: 14rem;
        object-fit: cover;
    }

    .infosFilme{
        flex-wrap: wrap;
    }

    .resumoFilme {
        grid-column: 1 / 3;
        grid-row: 2;
    }

}

@media (max-width: 450px){
    .card{
        display: flex;
        flex-direction: column;
        min-width: auto;
    }

    .infosFilme{
        justify-content: center;
    }
    
    .classificacao, .favoritar{
        width: 25%;
        padding-top: 1rem;
    }
}